@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$mat-blue: #1976d2;

body {
  color: $fontcolor;
  background-color: $backgroundcolor;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 5px;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

#container {
  width: 60%;
  margin: auto;
}

#header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  #website-name {
    font-size: 50px;
  }
}

.green-text {
  color: green;
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #dbdbdb;
}

#filterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  border-radius: 10px;
}

.filter-title {
  margin-bottom: 10px;
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-input {
  cursor: pointer;
}


#filter-button-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
}

.apply-button {
  background-color: $mat-blue;
  color: white;
  border: 0px;
  margin-left: 20px;
  padding: 10px 20px;
}

.apply-button:hover {
  background-color: #1e88e5;
  padding: 10px 20px;
}

.cancel-button {
  background-color: white;
}

.cancel-button:hover {
  background-color: #dbdbdb;
}

#course-list {
  display: flex;
  flex-direction: column;
}

#search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: none;
  width: calc(100% - 150px);

  input {
    font-size: 1.2em;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    border: 2px solid grey;
  }
}

.footnote {
  font-size: 12px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;;
}


.instructor {
  margin-top: 5px;
  margin-bottom: 8px;
  color: grey;
}

.course-title {
  font-size: 20px;
  font-weight: 600;
}

.description {
  font-size: 14px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}